extends ../layout
block content
    h1= title
    div.col-md-6
        h3 Информация о клиенте
        form#formAddClaim(name="editClient",method="post",action="/client/#{client.id}/edit")
            div.form-group
                input.form-control(type="text", placeholder="name", name="name", value='#{client.name}')
            div.form-group
                input.form-control(type="text", placeholder="description", name="description",
                value='#{client.description}')
            div.form-group
                button.btn.btn-primary(type="submit") Сохранить
        a.btn.btn-default(href="/clients") Вернуться
    div.col-md-6
        h3 Поставщики
        form.form-inline(name="editClient",method="post",action="/client/#{client.id}/addProvider")
            input(type='hidden', value='#{client.id}')
            div.table-responsive
                table.table.table-striped
                    tr
                        th Поставщик
                        th Город
                        th Создан
                        th

                    if (client.providers)
                        each provider, index in client.providers
                            tr
                                td
                                    =provider.name
                                td
                                    =provider.city
                                td
                                    = moment(provider.created).format(defaultDateFormat)
                                td
                                    a.btn.btn-primary.btn-xs.removeItem&attributes({'data-id': provider.id.toString(),
                                        'data-item': 'provider'}) Удалить

                    else
                        tr
                            td(colspan='4')
                                h6 Нет поставщиков

                    tr
                        td(colspan='4')
                            br
                            h6 Добавить
                    tr
                        td
                            input.form-control(type="text", placeholder="Название поставщика", name="name", value='')
                        td
                            input.form-control(type="text", placeholder="Город", name="city", value='')
                        td(colspan='2')

                div.form-group
                    button.btn.btn-primary(type="submit") Добавить

