extends ../layout
block content
    h1 Главная страница
    div
        div
            div.above-table
                span.bold Всего заявок:
                    =' '
                    = applications.length
            form(name='addApplication', method='POST', action='/table/add')
                table.table.table-striped
                    tr
                        th ЮрЛицо
                        th Перевозчик
                        th №
                        th Дата
                        th Клиент
                        th №
                        th Дата
                        th Поставщик
                        th Город
                        th

                    if (applications.length)
                        each _app in applications
                            tr

                                td
                                    //Юр лицо
                                    span=_app.legalEntity
                                td
                                    // Имя перевозчика
                                    span= _app.carrier.name
                                td
                                    //span= _app. // номер заявки перевозчика
                                td
                                    //span= _app.carrier. // дата заявки
                                td
                                    //Клиент
                                    span= _app.client.name
                                td
                                    //span= _app. // номер заявки клиена
                                td
                                    //span= _app. // дата заявки
                                td
                                    // поставщик
                                    span= _app.provider.name
                                td
                                    // город поставщика
                                    span= _app.provider.city
                                td
                                    span
                    else
                        tr
                            td(colspan=10)= 'Нет записей'

                    //        Блок добавления новых заявок
                    tr
                        td(colspan=10)
                            hr
                            = 'Добавить'
                    tr
                        td
                            select.form-control(name='legalEntity')
                                each val in legalEntity
                                    option(value=val.name)= val.name
                        td
                            select.form-control(name='carrier')
                                each carrier in carriers
                                    option(value=carrier.id)= carrier.name
                        td
                            span.form-control -//-
                        td
                            span.form-control= new Date()
                        td
                            select.form-control#client(name='client')
                                each client in clients
                                    option(value=client.id)= client.name
                        td
                            span.form-control -//-
                        td
                            span.form-control= new Date()
                        td
                            select.form-control#provider(name='provider')
                                each provider in providers
                                    option(value=provider.id)= provider.name
                        td
                            span.form-control#cityProvider
                                = city
                        td

                    tr
                        td(colspan=10)
                            button.btn.btn-primary(type="submit") Добавить