extends ../layout
block content
    h1 Главная страница
    div
        div
            div.above-table
                span.bold Всего заявок:
                    =' '
                    = applications.length
            form(name='addApplication', method='POST', action='/table/add')
                table.table.table-striped
                    tr
                        th ЮрЛицо
                        th Перевозчик
                        th №
                        th Дата
                        th Клиент
                        th №
                        th Дата
                        th Поставщик
                        th Город
                        th

                    tr
                        if (applications.length)
                            td
                            td
                            td
                            td
                            td
                            td
                            td
                            td
                            td
                            td
                        else
                            td(colspan=10)= 'Нет записей'

                    //        Блок добавления новых заявок
                    tr
                        td(colspan=10)
                            hr
                            = 'Добавить'
                    tr
                        td
                            select(name='legalEntity')
                                each val in legalEntity
                                    option(value=val.id)= val.name
                        td
                            select(name='carrier')
                                each carrier in carriers
                                    option(value=carrier.id)= carrier.name
                        td -//-
                        td= new Date()
                        td
                            select#client(name='client')
                                each client in clients
                                    option(value=client.id)= client.name
                        td -//-
                        td= new Date()
                        td
                            select#provider
                        td
                            select#cityProvider
                        td

                    tr
                        td(colspan=10)
                            button.btn.btn-primary(type="submit") Добавить